* {
  font-family: Helvetica, sans-serif;
}

.form {
  text-align: start;
  margin-left: 10rem;
  width: 50%;

  &__title {
    font-size: 4rem;
    width: 100%;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.box {
  display: flex;
  justify-content: center;

  &__1 {
    border: 1px transparent #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(24, 24, 27, 0.25),
      0px 4px 8px 0px rgba(24, 24, 27, 0.04),
      0px 8px 48px 0px rgba(24, 24, 27, 0.08);
    margin: 2rem;
    padding: 2rem;
    width: 20%;
  }

  &__2 {
    border: 1px transparent #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(24, 24, 27, 0.25),
      0px 4px 8px 0px rgba(24, 24, 27, 0.04),
      0px 8px 48px 0px rgba(24, 24, 27, 0.08);
    margin: 2rem;
    padding: 2rem;
    width: 20%;
  }

  &__title {
    font-weight: 700;
  }
}
.formTitle {
  display: flex;
  margin-left: 176px;
  margin-right: 630px;
  width: 50%;
  border-bottom: 2px solid #b5b5b5;

  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 133.333% */
  letter-spacing: -0.3px;
  //   font-feature-settings: "clig" off, "liga" off;
}

.formWrapper {
  //   display: flex;
  margin-right: 630px;
  width: 100%;
}

// .border-control {
//   width: 100%;
// }

.form-input-wrapper {
  display: flex;
  margin-left: 176px;
  align-items: flex-start;
}
.form-input-row {
  display: flex;
  flex-direction: row;
  margin: 24px;
}
.form-input-columnizer {
  display: flex;
  flex-direction: column;
  margin: 24px;
  text-align: left;
}
.input {
  height: 64px;
  border-radius: var(--size-100, 4px);
  border: 1px solid var(--color-gray-11, #b5b5b5);
}

.inputheader {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.2px;
  margin: 0;
}

.submit {
  display: flex;
  width: 471px;
  padding: 15px 161px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--size-100, 4px);
  background: #008060;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 15.875px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.13px; /* 114.205% */
  margin-left: 173px;
}
.inputbox {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
